<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- site metas -->
        <title>OCPGroup | Contact-Us</title>
        <link rel="icon" href="..\static\images\logo.png" type="image/x-icon">
    
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- bootstrap css -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <!-- style css -->
        <link rel="stylesheet" href="../static/css/style.css">
        <!-- Responsive-->
        <link rel="stylesheet" href="../static/css/responsive.css">
        <!-- fevicon -->
        <link rel="icon" href="../static/images/fevicon.png" type="image/gif" />
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
        <!-- Tweaks for older IEs-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/../static/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
        <link rel="stylesheet" href="../static/css/form_style.css">
        <link rel="stylesheet" href="../static/css/contact_style.css">
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    </head>
</html>
<body>
    <div class="header">
        <!--<div class="container">
            <div class="row">-->
                <!--<div class="col-md-12 location_icon_bottum">-->
                   <div class="row nav">
                        <div class="col-md-6 logo">
                            <img src="../static/images/logo.svg" alt="">
                            <img src="../static/images/croix.png" alt="">
                            <img src="../static/images/logo2-remove.png" class = "project" alt="">
                            
                        </div>

                        <div class="col-md-6 menu">
                            <div class="menu-area">
                                <div class="limit-box">
                                    <nav class="main-menu">
                                        <ul class="menu-area-main">
                                            <li class="active"> <a href="Home.html">Home</a> </li>
                                            <li> <a href="Home.html#about">About</a> </li>
                                            <li><a href="Home.html#service">Services</a></li>
                                            <li><a href="Contact.html">Contact Us</a></li>
                                            <li><a href="Home.html#help">Help</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                        
                   </div>
    </div>
    <div id="about" class="about" style="width:fit-content; margin: auto; padding:0px;">
        <div class="about_box" style="padding:0px; ">
            <h2><br><strong class="black" style="font-size:25px; font-weight: 600;">Help Us Improve Our Choices</strong></h2>
        </div>
    </div>
    <div class="formbold-main-wrapper" style="padding:0px;">
        <!-- Author: FormBold Team -->
        <!-- Learn More: https://formbold.com -->
       
        <div class="formbold-form-wrapper floating-image">
        <form action="https://formspree.io/f/xqazgpbb" method="POST">
            <div class="title" style="padding-bottom: 10px; padding-top: 10px;" >
                <h2 style="font-size: 20px; line-height: 30px;">Contact<strong class="black" style="font-size: 20px;" > Form</strong></h2>
            </div>
            <div class="formbold-input-flex">
                <div>
                    <label for="firstname" class="formbold-form-label"><img src="../static/icon/fname.png" alt="">   First name </label>
                    <input
                    type="text"
                    name="firstname"
                    id="firstname"
                    placeholder="Jane"
                    class="formbold-form-input"
                    />
                </div>
                <div>
                    <label for="lastname" class="formbold-form-label"><img src="../static/icon/fname.png" alt="">    Last name </label>
                    <input
                    type="text"
                    name="lastname"
                    id="lastname"
                    placeholder="Cooper"
                    class="formbold-form-input"
                    />
                </div>
            </div>
    
            <div class="formbold-input-flex">
                <div>
                    <label for="email" class="formbold-form-label"><img src="../static/icon/email.png" alt="">    Mail </label>
                    <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="jhon@mail.com"
                    class="formbold-form-input"
                    />
                </div>
                <div>
                    <label for="phone" class="formbold-form-label"><img src="../static/icon/telephone.png" alt="">    Phone </label>
                    <input
                    type="text"
                    name="phone"
                    id="phone"
                    placeholder="(212) 688062914"
                    class="formbold-form-input"
                    />
                </div>
            </div>
    
            <div class="formbold-input-radio-wrapper">
                <label for="soltype" class="formbold-form-label"><img src="../static/icon/client.png" alt="">    Which service are you contacting us about?</label>
                <div class="formbold-radio-flex">
                    <div class="formbold-radio-group">
                        <label class="formbold-radio-label">
                            <input class="formbold-input-radio" type="radio" name="choice" id="choice" value="Fertify">
                            Fertify
                        </label>
                    </div>
    
                    <div class="formbold-radio-group">
                        <label class="formbold-radio-label">
                            <input class="formbold-input-radio" type="radio" value="FertiBot" id="choice" name="choice">
                            FertiBot
                        </label>
                    </div>
    
                    <div class="formbold-radio-group">
                        <label class="formbold-radio-label">
                            <input class="formbold-input-radio" type="radio" value="PlantGuard" id="choice" name="choice">
                            PlantGuard
                        </label>
                    </div>
    
                    
                </div>

            </div>
    
            <div>
                <label for="message" class="formbold-form-label"><img src="../static/icon/message.png" alt="">    Message </label>
                <textarea
                    rows="6"
                    name="message"
                    id="message"
                    placeholder="Type your message"
                    class="formbold-form-input"
                ></textarea>
            </div>
    
            <button class="formbold-btn">
                Send Message
            </button>
        </form>
        </div>
        <!-- Example of embedding a Google Map -->
        <div class="map_container">
            <div class="title" style="padding-bottom: 10px; padding-top: 10px;" >
                <h2 style="font-size: 20px; line-height: 30px;">Get<strong class="black" style="font-size: 20px;" > Direction</strong></h2>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.111151337153!2d-122.419418!3d37.774929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085808b9c4f3d73%3A0x1c5b24b95d0cb39b!2sSan%20Francisco%2C%20CA%2C%20USA!5e0!3m2!1sen!2sin!4v1633590782432!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>© 2024 All Rights Reserved.</p>
       
    </div>
</body>

<script>
    function checkOnlyOne(checkbox) {
           const checkboxes = document.querySelectorAll('.formbold-input-radio');
           checkboxes.forEach(cb => {
               if (cb !== checkbox) {
                   cb.checked = false;
               }
           });
       }
</script>
  